exportPattern("^[^\\.]")

S3method(plot, sp.bias.eval)
S3method(plot, samp.bias)
S3method(plot, spatialvalid)
S3method(plot, outliers.list)
importFrom("geosphere", areaPolygon, dist2Line, distCosine, distHaversine, distVincentyEllipsoid, distm, randomCoordinates)
importFrom("graphics", abline, axis, box, legend, hist, points, polygon, segments, title)
importFrom("grDevices", chull, rgb)
importFrom("methods", as)
importFrom("raster", barplot, boxplot, crop, extent, raster)
importFrom("rgeos", gIntersection)
importFrom("stats", aov, complete.cases, density, IQR, quantile, sd)
importFrom("utils", write.table, read.table)
import(sp)